body {
  font-family: Poppins, sans-serif;
  background-color: #e5e5cb;
  font-weight: lighter;
}

.container {
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container > .row {
}

form {
  border-radius: 10px;
  color: black;
  background-color: #eee;
  transition-duration: 2s;
  overflow-x: scroll;
}

form:hover {
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.card {
  height: 100vh;
  background-color: #353535;
  transition-duration: 1s;
  border-radius: 20px;
  overflow: auto;
}

.grid-container > .card {
  height: inherit;
  width: fit-content;
}

.card::-webkit-scrollbar,
form::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.card:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0.1);
}

img {
  transition-duration: 1s;
}

img:hover {
  box-shadow: 0px 0px 20px rgb(119, 119, 119);
}

input,
textarea {
  transition-duration: 0.8s;
}

input:hover,
textarea:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; /* Adjust the gap between cards as needed */
}

.toast-body {
  font-size: 1.1rem;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

ul {
  list-style: square;
}
